<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Đăng ký</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h2>🪐 Đăng ký</h2>
      <form method="POST" action="/register">
        <input
          type="text"
          name="username"
          placeholder="Tên đăng nhập"
          required
        /><br />
        <input
          type="password"
          name="password"
          placeholder="Mật khẩu"
          required
        /><br />
        <button type="submit">Tạo tài khoản</button>
      </form>
      <p>Đã có tài khoản? <a href="/">Đăng nhập</a></p>
    </div>
  </body>
</html>
